<template name="main">
  {{#constant}}
    <div id="fb-root"></div>
  {{/constant}}
  {{> menu}}

  <div class="container container-background">
    {{#if selectedEvent}}
      {{#with selectedEvent}}
        {{> fbEvent}}
      {{/with}}
    {{else}}
      <div class="hero-background">
        <div class="hero-unit container-shadow">
          <h1>Encontre protestos próximos de você</h1>
          <h2>Faça login com o seu Facebook. Quanto mais pessoas entrarem, mais eventos de protestos serão listados aqui. Entre e mostre a seus amigos!</h2>
        </div>
      </div>

      <div class="row-steps-fluid">
        <div class="step-fluid step1">
          <div class="step-header"><h3>Passo 1: entrar</h3></div>
          <div class="step-content">
            {{> fbLogin}}
          </div>
        </div><div class="step-fluid step2">
          <div class="step-header"><h3>Passo 2: escolha uma data</h3></div>
          <div class="step-content">
            {{> datepicker}}
          </div>
        </div>
      </div>

      <div class="row-steps-fluid">
        <div class="step-header-full step3">
          <h3>Passo 3: confira os eventos {{#if isLogged}}{{#if geolocation}}<button id="show-near" class="btn btn-success btn-small pull-right">Mostrar por perto</button><button id="show-all" class="btn btn-primary btn-small pull-right">Mostrar todos</button>{{/if}}{{/if}}</h3>
          {{#unless geolocation}}
            <h4>(para maior precisão, aceite a permissão para mostrar sua localização)</h4>
          {{/unless}}
        </div>
        <div class="step-fluid today">
          {{> todayEvents}}
        </div><div class="step-fluid tomorrow">
          {{> tomorrowEvents}}
        </div>
      </div>
    {{/if}}

    <footer>
      <p><iframe src="http://ghbtns.com/github-btn.html?user=fjsj&repo=acorda&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe><iframe src="http://ghbtns.com/github-btn.html?user=fjsj&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="125" height="20"></iframe></p>
      <p>por <a href="http://github.com/fjsj" target="_blank">fjsj</a>. Código-fonte disponível no <a href="http://github.com/fjsj/acorda" target="_blank">GitHub</a>.</p>
    </footer>
  </div> <!-- /container -->
</template>
